@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper-button-prev:after, .swiper-button-next:after{

  overflow: hidden;
  padding: 2px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  margin-left: -90px; 

  overflow: hidden;
  padding: 2px;
} 


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 8px; /* Shrinks default arrow icon */
}




          
/* text shadow */
.text_style{
  text-shadow: 5px 5px 40px;
}

.box_shadow{
  box-shadow: 5px 5px 40px;
}